@charset "UTF-8";
/**********************************************
note : fonts set
## google fonts cdn이 변경됨. https://fonts.google.com/에 방문하여 폰트를 담아오면 됩니다.
## 예) @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&subset=korean');
**********************************************/
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800|Roboto:100,300,400,500,700,900');

body,th,td,input,select,textarea,button,
h1,h2,h3,h4,h5,h6 {font-family:-apple-system,BlinkMacSystemFont,'Roboto','Helvetica Neue','Helvetica','Arial','Nanum Gothic','Malgun Gothic','돋움','dotum',sans-serif}

/* 한국어일 경우 */
#user-wrap.kor,#user-wrap.kor th,#user-wrap.kor td,#user-wrap.kor input,#user-wrap.kor select,#user-wrap.kor textarea,#user-wrap.kor button,
#user-wrap.kor h1,#user-wrap.kor h2,#user-wrap.kor h3,#user-wrap.kor h4,#user-wrap.kor h5,#user-wrap.kor h6 {font-family:-apple-system,BlinkMacSystemFont,'Nanum Gothic','Malgun Gothic','돋움','dotum','Roboto','Helvetica Neue','Helvetica','Arial',sans-serif}

/**********************************************
note : 메인편집
**********************************************/
/* mobile(type1) */
.index-wrap.response .index-columns.grid-1,.index-wrap.response .index-columns.grid-4 {padding-right:.625rem}
.index-wrap.response .index-columns.grid-2,.index-wrap.response .index-columns.grid-3 {padding-left:.625rem}
@media screen and (max-width: 63.9375em) {
	.row .index-wrap.response .index-row,.row .index-wrap.response .index-columns {display:block}
	.row .index-wrap.response .index-row::after {content:'';display:table;clear:both}
	.row .index-wrap.response .index-columns.grid-1,.row .index-wrap.response .index-columns.grid-2 {float:left}
	.row .index-wrap.response .index-columns.grid-1 {width:calc(100% - 260px)}
	.row .index-wrap.response .index-columns.grid-2 {width:260px}
	.row .index-wrap.response .index-columns.grid-3 {width:auto;padding-left:0}
	.row .index-wrap.response .index-columns.grid-4 {width:auto;padding-right:0}
	.PC_AD{display: none;}
}
@media screen and (max-width: 39.9375em) {
	.row .index-wrap.response .index-row,.row .index-wrap.response .index-columns {width:auto !important}
	.row .index-wrap.response .index-columns {padding-left:0;padding-right:0}
	.row .index-wrap.response .index-columns::after {content:'';display:table;clear:both}
	.row .index-wrap.response .index-columns.grid-1,.row .index-wrap.response .index-columns.grid-2 {float:none}
}

@media screen and (min-width: 63.9375em){
	.PC_AD{display: block;}
}

/**********************************************
note : 메인배너
**********************************************/
.responsive-banner {background-color:#fefefe;text-align:center}
.responsive-banner::after {content:'';display:table;clear:both}
@media screen and (max-width: 39.9375em) {
	.row .responsive-banner {margin-left:-1.25rem;margin-right:-1.25rem}
}

/**********************************************
note : 기사리스트
**********************************************/
.article-list .article-list-content.type-sm .list-block .list-titles {font-size:1.125rem;letter-spacing:-0.025em}
.article-list .article-list-content.type-sm .list-block .list-subtitles a {font-size:1.025rem;letter-spacing:-0.025em; color:#cc3333 !important}
.article-list .article-list-content.type-sm .list-block .list-summary {letter-spacing:-0.025em}

/**********************************************
note : 기사뷰
**********************************************/
body:not(.admin-body) .reveal-title {font-weight:300;letter-spacing:-0.025em}
#user-wrap:not(.kor) #article-header-title .aht-columns.aht-title .aht-title-view {letter-spacing:-0.025em !important}
#user-wrap:not(.kor) #article-header-title .aht-columns.aht-title .aht-title-view {font-weight:400}
.article-view-header .article-head-nav,
.article-view-header .article-header-wrap .article-head-title {letter-spacing:-0.025em}
.info-options .fonts-option-panel li {float:none}

/* 본문 */
#user-wrap:not(.kor) .article-veiw-body.view-page .photo-layout figcaption {font-weight:100;letter-spacing:-0.025em}
#user-wrap:not(.kor) .article-veiw-body.view-page p {font-weight:300;letter-spacing:-0.025em}

/* 기자이름 */
.article-veiw-body .view-editors {margin-top:2rem}
.article-veiw-body .view-editors .float-right {float:none !important}

/* 해당기자의 최근글 */
.article-veiw-body .view-editors .editor-articles {margin-top:.625rem;clear:both}
.article-veiw-body .view-editors .editor-articles::after {content:'';display:table;clear:both}
.article-veiw-body .view-editors .editor-articles .lists {margin:0;padding:0 0 0 .5rem;list-style:none}
.article-veiw-body .view-editors .editor-articles .lists li {position:relative;padding-left:.8rem;font-size:.9rem;font-weight:300;line-height:1.25em;letter-spacing:-0.05em}
.article-veiw-body .view-editors .editor-articles .lists li:not(:last-child) {margin-bottom:.5rem}
.article-veiw-body .view-editors .editor-articles .lists li::before {content:'';position:absolute;z-index:1;left:0;top:.5rem;width:3px;height:3px;background-color:rgba(0,0,0,.25);border-radius:50%}

/**********************************************
note : 박스모음
**********************************************/
.box-skin .header > strong,.box-skin .header > a {letter-spacing:-0.025em}
.box-skin .header > strong.custom-box-titles,.box-skin .header > a.custom-box-titles {font-size:1.125rem;font-weight:300;text-transform:uppercase}
.box-skin .custom-box-titles.white {color:#fefefe}

/* line box */
.index-wrap.response .box-skin.line {background-color:#fefefe;border-color:rgba(0,0,0,.08)}

@media screen and (max-width: 39.9375em) {
	.row .box-skin.line {padding:1.25rem}
	.row .index-wrap.response .box-skin {margin-left:-1.25rem;margin-right:-1.25rem}
	.row .index-wrap.response .box-skin.line {border:none}
	.row .box-skin .header > strong,.row .box-skin .header > a {margin-bottom:1rem}
}

/**********************************************
note : 자동박스
**********************************************/
#user-wrap:not(.kor) .auto-article {letter-spacing:-0.025em}

/* 4개 */
@media screen and (max-width: 39.9375em) {
	.row .auto-article.tiles-4x .auto-columns:nth-child(n) {width:49%;margin:2% 0 0 2%;clear:inherit}
	.row .auto-article.tiles-4x .auto-columns:first-child,.row .auto-article.tiles-4x .auto-columns:nth-child(2n + 1) {margin-left:0;clear:both}
	.row .auto-article.tiles-4x .auto-columns:first-child,.row .auto-article.tiles-4x .auto-columns:nth-child(2) {margin-top:0}
	.row .auto-article.tiles-4x .auto-images {height:0;padding-bottom:56.25%}
}

/* hr07 */
.auto-hr07 {position:relative;background-color:#fefefe}
.auto-hr07 .auto-images {height:0;padding-bottom:62.5%}
.auto-hr07 .auto-for .auto-content {position:relative;min-height:145px;padding:1.25rem}
/*.auto-hr07 .auto-for .auto-content::before {content:"KHUYẾN CÔNG ĐỊA PHƯƠNG";position:absolute;z-index:15;left:0;bottom:100%;padding:.5rem .75rem;line-height:1em;color:#fefefe;background-color:#cc3333}*/
.auto-hr07 .auto-nav {padding:0 .625rem 1.25rem}
.auto-hr07 .auto-nav .slick-slide {padding-left:.625rem;padding-right:.625rem;outline:0;cursor:pointer}
.auto-hr07 .auto-nav .slick-slide .auto-images.line::before {background-color:rgba(255,255,255,.65);border-width:2px;border-color:transparent}
.auto-hr07 .auto-nav .slick-slide.slick-current .auto-images.line::before {background-color:transparent;border-color:#e73f72 !important}
.auto-hr07 .photo-btn {bottom:160px;width:45px;height:45px;font-size:1.125rem;color:#fefefe;background-color:rgba(0,0,0,.75)}
.auto-hr07 .photo-btn.auto-prev {right:45px}
.auto-hr07 .photo-btn.auto-next {right:0}

/* mp05 */
.auto-mp05 {padding:1.25rem;background-color:#fefefe}
.auto-mp05 .auto-images {height:0;padding-bottom:60%}

/* pr08 */
.auto-pr08 {position:relative;padding-left:40px;padding-right:40px;background-color:#fefefe}
.auto-pr08 .auto-columns {border-left:1px solid rgba(0,0,0,.08)}
.auto-pr08 .auto-columns > a {display:block;overflow:hidden;height:90px;padding:.7rem 1rem;background-repeat:no-repeat;background-position:50%;background-size:auto 100%}
.auto-pr08 .auto-columns [class*="size-"] {font-weight:500;line-height:1.35em}
.auto-pr08 .auto-columns a:hover,.auto-pr08 .auto-columns a:hover [class*="size-"] {background-color:#e73f72}
.auto-pr08 .auto-columns a:hover [class*="size-"] {color:#fefefe !important}
.auto-pr08 .photo-btn {overflow:hidden;top:0;width:40px;height:100%;font-size:1.125rem}
.auto-pr08 .photo-btn.auto-prev {left:0}
.auto-pr08 .photo-btn.auto-next {right:0;border-left:1px solid rgba(0,0,0,.08)}

/* dl05 */
.auto-dl05 .auto-images {height:0;padding-bottom:60%}


/**********************************************
note : 숏코드
**********************************************/
/* PDF */
.pdf-widget {text-align:center}
.pdf-widget::after {content:'';display:table;clear:both}
.pdf-widget .titles {padding:.625rem .8rem;font-size:1.063rem;line-height:1em;letter-spacing:-0.025em;color:#fefefe;background-color:rgba(0,0,0,.5)}
.pdf-widget .content > a {display:block;padding:1rem;text-decoration:none}
.pdf-widget .content .dated {margin-top:1rem;font-size:1rem;color:#fefefe}
.pdf-widget .content .dated::after {content:'';display:table;clear:both}
.pdf-widget .content .dated > small {font-weight:300}
@media screen and (max-width: 39.9375em) {
	.row .pdf-widget {margin-left:-1.25rem;margin-right:-1.25rem}
}

/* main boxs */
.main-boxs::after {content:'';display:table;clear:both}
.main-boxs .boxs-cell {float:left;width:32.5%;margin-left:1.25%;margin-top:1.25%}
.main-boxs .boxs-cell:first-child,.main-boxs .boxs-cell:nth-child(3n + 1) {margin-left:0;clear:both}
.main-boxs .boxs-cell:nth-child(1),.main-boxs .boxs-cell:nth-child(2),.main-boxs .boxs-cell:nth-child(3) {margin-top:0}
@media screen and (max-width: 63.9375em) {
	.row .main-boxs .boxs-cell:nth-child(n) {width:49.375%;margin-left:1.25%;margin-top:1.25%;clear:inherit}
	.row .main-boxs .boxs-cell:first-child,.row .main-boxs .boxs-cell:nth-child(2n + 1) {margin-left:0;clear:both}
	.row .main-boxs .boxs-cell:nth-child(1),.row .main-boxs .boxs-cell:nth-child(2) {margin-top:0}
}
@media screen and (max-width: 39.9375em) {
	.row .main-boxs .boxs-cell:nth-child(n) {float:none;width:auto;margin-left:0;margin-top:1.25%;clear:inherit}
	.row .main-boxs .boxs-cell:first-child {margin-top:0}
}

/* letter form */
.letter-widget {padding:1.25rem 1.5rem;background-color:#feb100}
.letter-widget::after {content:'';display:table;clear:both}
.letter-widget .description {margin-bottom:1rem}
.letter-widget .description strong {display:block;margin-bottom:.7rem;font-size:1.375rem;font-weight:500;line-height:1.25em;letter-spacing:-0.025em;color:#fefefe}
.letter-widget .description p {padding:0;margin:0;font-size:.9rem;line-height:1.438em;letter-spacing:-0.025em;color:rgba(0,0,0,.7)}
.letter-widget .configure .input-group {margin-bottom:0}
.letter-widget .configure input.input-group-field {font-size:.8rem;font-weight:300;border:none;box-shadow:none}
@media screen and (max-width: 39.9375em) {
	.row .letter-widget {margin-left:-1.25rem;margin-right:-1.25rem}
}

/**********************************************
note : sns기사전송
**********************************************/
.sns-forward .checkbox-group > input[type="radio"] + label,.sns-forward .checkbox-group > input[type="checkbox"] + label {position:relative}
.sns-forward .sns-tips {display:none;position:absolute;z-index:1004;width:15rem;padding:.75rem;font-size:.8rem;line-height:1.35em;color:#fefefe;background-color:#0a0a0a;text-align:left;left:0;top:100%}
.sns-forward .sns-tips::before {content:'';position:absolute;z-index:1;border-width:.25rem;border-style:solid;border-color:transparent transparent #0a0a0a;bottom:100%;left:.625rem;transform:translateX(-50%)}
.sns-forward .checkbox-group > input[type="radio"] + label:hover .sns-tips,.sns-forward .checkbox-group > input[type="checkbox"] + label:hover .sns-tips {display:block}
.sns-forward .sns-tips .sns-tips-btn {display:block;margin-top:.5rem;color:#3498db}
.sns-forward .fa.fa-facebook-official {color:#4a70b8}
.sns-forward .fa.fa-twitter-square {color:#00aced}

/**********************************************
note : 신문사소개
**********************************************/
#com-nav .menu li.is-accordion-submenu-parent > a, #com-nav .menu li.nav-only a,
#com-nav .menu li.is-accordion-submenu-parent ul.menu.nested li.is-submenu-item a {letter-spacing:0}
.com-container-header .com-container-title {letter-spacing:-0.025em}

/* 소개내용 */
.about-us::after {content:'';display:table;clear:both}
.about-us .titles {margin-bottom:1.25rem;font-size:1.75rem;font-weight:500;line-height:1.25em;letter-spacing:-0.025em;text-transform:uppercase}
.about-us .sub-titles:not(label) {margin-top:2rem;margin-bottom:.7rem;line-height:1.25em}
.about-us p {font-size:.9375rem;font-weight:300;line-height:1.625em;letter-spacing:-0.025em;color:rgba(0,0,0,.7)}
.about-us p > strong {font-weight:500}
.about-us .about-group:not(:first-child) {margin-top:3rem}
.about-us .about-group::after {content:'';display:table;clear:both}
@media screen and (min-width: 40em) {
	.about-us .about-group.col-group {-webkit-column-count:2;column-count:2;-webkit-column-gap:3rem;column-gap:3rem;column-rule:1px solid rgba(0,0,0,.08)}
}

/* group */
.about-us .about-group .lists {margin-bottom:1rem}
.about-us .about-group .lists:not(ol) {padding:0;margin:0 0 1rem;list-style:none}
.about-us .about-group .lists li {font-size:.9rem;font-weight:300}
.about-us .about-group .lists li > strong {font-weight:500}
.about-us .about-group .lists:not(ol) li {position:relative;padding-left:.8rem;color:rgba(0,0,0,.7)}
.about-us .about-group .lists:not(ol) li::before {content:'';position:absolute;z-index:1;left:0;top:.7rem;width:3px;height:3px;background-color:rgba(0,0,0,.25);border-radius:50%}

/* magazine */
.about-us .about-group.magazine .float-left {width:230px}
.about-us .about-group.magazine .float-right {width:calc(100% - 230px);padding-left:2rem}
.about-us .about-group.magazine p {font-size:.8rem}
.about-us .about-group.magazine a.user-point {text-decoration:underline}
@media screen and (max-width: 39.9375em) {
	.about-us .about-group.magazine .float-left,.about-us .about-group.magazine .float-right {float:none !important;width:auto !important}
	.about-us .about-group.magazine .float-left {margin-bottom:1.25rem;text-align:center}
	.about-us .about-group.magazine .float-right {padding-left:0}
}

/* subscrip */
.about-us.subscrip-theme .float-right {margin-bottom:1.25rem}
@media screen and (min-width: 40em) {
	.about-us.subscrip-theme .float-right {width:220px;margin-left:1.25rem}
}


/*기사페이지 사진 밑 글씨*/
.article-veiw-body.view-page .photo-layout figcaption {padding: .7rem 0;font-size: .9rem;line-height: 1.6em;letter-spacing: -.05em;color: #000;text-align: left;}

#admin-wrap .edit-level1 {min-height:10px}
