@charset "UTF-8";
/*********************************************
note : reset
*********************************************/
#user-wrap.site-bg {background-color:#eeeeee}
@media screen and (min-width: 70em) {
	#user-wrap #user-container {padding-left:0 !important;padding-right:0 !important}
}

#user-header {position:relative;margin-bottom:1.25rem;padding-left:1.25rem;padding-right:1.25rem;text-align:center}
#user-header::after {content:'';display:table;clear:both}
#user-header ul, #user-header ol {list-style:none;padding:0;margin:0}

/*********************************************
note : 최상단영역
*********************************************/
#user-gnb {padding:.8rem 0;margin-left:-1.25rem;margin-right:-1.25rem;line-height:1em;background-color:#231f20;-webkit-transition:all .25s;transition:all .25s}
#user-gnb::after {content:'';display:table;clear:both}
@media screen and (max-width: 67.5em) {
	#user-gnb {padding-left:1.25rem;padding-right:1.25rem}
}
@media screen and (max-width: 39.9375em) {
	#user-gnb {padding-top:.25rem;padding-bottom:.25rem}	
}

/* 업데이트 */
#user-gnb .user-intro {float:left;font-size:.8rem;letter-spacing:-0.025em;color:#fefefe}

/* 로그인 */
#user-gnb .user-logbox {float:right}
#user-gnb .user-logbox li {float:left;padding:0 .625rem;font-size:.8rem;line-height:1;letter-spacing:-0.025em}
#user-gnb .user-logbox li:first-child {padding-left:0}
#user-gnb .user-logbox li:last-child {padding-right:0}
#user-gnb .user-logbox li a {color:rgba(255,255,255,.6)}
#user-gnb .user-logbox li a:hover {color:#fefefe}
@media screen and (max-width: 39.9375em) {
	#user-gnb .user-logbox {float:none}
	#user-gnb .user-logbox li {display:inline-block;float:none}
}

/*********************************************
note : 로고영역
*********************************************/
#nav-header {padding:1.5rem 0}
#nav-header::after {content:'';display:table;clear:both}
#nav-header .dis-table {width:100%;table-layout:fixed}
#nav-header .dis-table-cell {width:100%;height:60px;vertical-align:middle;-webkit-transition:all .25s;transition:all .25s}
#nav-header .dis-table-cell.user-logo {text-align:left}
#nav-header .dis-table-cell.user-logo a {display:block;max-width:305px;text-align:center;text-decoration:none}
#nav-header .dis-table-cell.user-logo .text {display:block;margin-top:.5rem;font-size:.9rem;font-weight:300;color:rgba(255,255,255,.7)}
#nav-header .dis-table-cell.user-banner {width:240px}
@media screen and (max-width: 63.9375em) {
	#nav-header .dis-table,#nav-header .dis-table-cell {display:block;width:auto !important;height:auto !important}
	#nav-header .dis-table-cell.user-logo {position:relative}
}
@media screen and (max-width: 39.9375em) {
	#nav-header {padding-top:1.25rem;padding-bottom:1.25rem}
	#nav-header .dis-table-cell.user-logo {text-align:center}
	#nav-header .dis-table-cell.user-logo a {max-width:inherit}
}

/* sns */
#nav-header .user-sns {float:right;margin-right:1rem;border:5px solid rgba(0,0,0,.45)}
#nav-header .user-sns > a {display:table-cell;width:38px;height:34px;padding-top:.25rem;font-size:1.125rem;color:#fefefe;border-left:1px solid rgba(0,0,0,.15);text-align:center;vertical-align:middle;-webkit-transition:all .25s;transition:all .25s}
#nav-header .user-sns > a:first-child {border-left:none}
#nav-header .user-sns > a:hover {color:#e73f72;background-color:#fefefe}
@media screen and (max-width: 63.9375em) {
	#nav-header .user-sns {display:none;float:none;position:absolute;z-index:990;left:0;top:100%;width:100%;padding:5px;margin:0;background-color:rgba(0,0,0,.7);border:none}
	#user-header.is-active.for-sns:not(.for-sch) .user-sns {display:block}
}

/* 검색 */
#nav-header .user-search {position:relative;border:5px solid rgba(0,0,0,.45)}
#nav-header .user-search input#search {float:right;width: calc(100% - 36px);height:34px;margin:0;font-size:.8rem;letter-spacing:-0.025em;background:#fefefe;border:none;box-shadow:none;}
#nav-header .user-search button {float:left;width:36px;height:34px;margin:0;font-size:1.125rem;background-color:#fefefe;cursor:pointer}
#nav-header .user-search .search-plus {display: block;overflow: hidden;position: absolute;z-index: 1;left: 28px;top: 0;background-color: #fefefe;width: 30px;height: 34px;padding-top: .3rem; line-height: 30px;}
@media screen and (max-width: 63.9375em) {
	#nav-header .user-search {display:none;position:absolute;z-index:995;left:0;top:100%;width:100%;padding:5px;margin:0;background-color:rgba(0,0,0,.7);border:none}
	#user-header.is-active.for-sch:not(.for-sns) .user-search {display:block}
}

/* 모바일버튼 */
#nav-header .m-btn-group {position:absolute;z-index:10;right:0;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);-webkit-transition:all .25s;transition:all .25s}
#nav-header .m-btn-group .btns {width:40px;height:40px;font-size:1.375rem;color:#fefefe;cursor:pointer}
@media screen and (max-width: 39.9375em) {
	#nav-header .m-btn-group {position:inherit;left:inherit;top:inherit;margin-top:1rem;-webkit-transform:translateY(0);transform:translateY(0)}
}

/*********************************************
note : 메뉴영역
*********************************************/
/* 기본 */
#user-nav {position:relative}
#user-nav #wrapper {background-color:rgba(0,0,0,.5);border:1px solid rgba(0,0,0,.12);border-bottom:none}
#user-nav::after,#user-nav #wrapper::after {content:'';display:table;clear:both}
@media screen and (max-width: 63.9375em) {
	#user-nav {display:none;position:absolute;z-index:1000;left:0;top:100%;width:100%;background-color:rgba(0,0,0,.7);border:none}
	#user-header.is-active:not(.for-sns):not(.for-sch) #user-nav {display:block}
}

/* 섹션 */
#user-nav .menu > li > a:hover {color:rgba(0,0,0,.9);background-color:#eeeeee}
#user-nav .menu > li > a {padding:.8rem 1.5rem;font-size:0.9rem;font-weight:500;letter-spacing:-0.025em;color:#fefefe;text-decoration:none}
#user-nav .menu > li.is-dropdown-submenu-parent > a {padding-right:2rem}
#user-nav .menu > li.is-dropdown-submenu-parent > a::after {right:1rem;margin-top:-1px;border-width:4px;border-top-color:#fefefe}
#user-nav .menu > li.is-dropdown-submenu-parent.is-active > a {color:rgba(0,0,0,.9);background-color:#eeeeee}
#user-nav .menu > li.is-dropdown-submenu-parent.is-active > a::after {border-top-color:rgba(0,0,0,.9)}
#user-nav .menu > li.is-dropdown-submenu-parent .menu {padding:.25rem;background-color:#eeeeee;border:none}

#user-nav .menu > li.is-dropdown-submenu-parent .menu > li.is-submenu-item {background-color:#231f20}
#user-nav .menu > li.is-dropdown-submenu-parent .menu > li.is-submenu-item > a {font-size:.8rem;font-weight:300;color:#fefefe; text-align: left;}
#user-nav .menu > li.is-dropdown-submenu-parent .menu > li.is-submenu-item > a:hover {background-color:rgba(0,0,0,.5)}
@media screen and (max-width: 63.9375em) {
	#user-nav .menu > li {text-align:left}
	#user-nav .menu > li > a {padding:.8rem 1rem;font-size:1rem;font-weight:500;letter-spacing:-0.025em;color:#fefefe;text-decoration:none}
	#user-nav .menu > li.is-accordion-submenu-parent > a::after {display:block;border-width:4px;border-top-color:#fefefe}
	#user-nav .menu > li.is-accordion-submenu-parent[aria-expanded="true"] > a::after {margin-top:-8px}
	#user-nav .menu > li.is-accordion-submenu-parent .menu {padding-left:1rem;padding-right:1rem;background-color:rgba(0,0,0,.5)}
	#user-nav .menu > li.is-accordion-submenu-parent .menu > li.is-submenu-item > a {font-size:.8rem;font-weight:300}
}

/* 섹션(한국어) */
#user-wrap.kor #user-nav .menu > li > a {font-size:1rem;font-weight:700}

/*********************************************
note : 하단
*********************************************/
#user-footer.response {padding:0;margin-top:1.25rem;background-color:#231f20;-webkit-transition:all .25s;transition:all .25s}
@media screen and (max-width: 67.5em) {
	#user-footer.response {padding-left:1.25rem;padding-right:1.25rem}
}

/* nav */
#user-footer.response .footer-nav {border-bottom:1px solid rgba(255,255,255,.12);text-align:center}
#user-footer.response .footer-nav::after {content:'';display:table;clear:both}
#user-footer.response .footer-nav a {display:inline-block;padding:1rem .8rem;letter-spacing:-0.05em;color:#fefefe}
@media screen and (max-width: 39.9375em) {
	#user-footer.response .footer-nav a {font-size:.9rem;padding-left:.625rem;padding-right:.625rem}
}

/* content */
#user-footer.response .footer-content {position:relative;padding:1.25rem 0}
#user-footer.response .footer-content::after {content:'';display:table;clear:both} 
#user-footer.response .footer-content .footer-cell {float:left;width:calc(100% - 320px);-webkit-transition:all .25s;transition:all .25s}
#user-footer.response .footer-content .footer-cell.small {width:320px;padding-left:1.25rem}
#user-footer.response .footer-content .footer-cell:not(.small) {border-right:1px solid rgba(255,255,255,.12)}
@media screen and (max-width: 63.9375em) {
	#user-footer.response .footer-content .footer-cell {width:calc(100% - 220px)}
	#user-footer.response .footer-content .footer-cell.small {width:220px}
}
@media screen and (max-width: 39.9375em) {
	#user-footer.response .footer-content .footer-cell {float:none !important;width:auto !important;margin-bottom:1.25rem}
	#user-footer.response .footer-content .footer-cell:not(.small) {border:none}
	#user-footer.response .footer-content .footer-cell.small {padding:1.25rem 0 0;border-top:1px solid rgba(255,255,255,.08)}
}

/* logo */
#user-footer.response .user-logo {float:none;margin:0 0 1.25rem}
@media screen and (max-width: 39.9375em) {
	#user-footer.response .user-logo {text-align:center}
}

/* adress */
#user-footer.response .address {margin:0;padding:0;list-style:none}
#user-footer.response .address li {font-size:.8rem;font-weight:300;color:rgba(255,255,255,.6); padding: 5px 0;}
#user-footer.response .address li a {color:rgba(255,255,255,.6);text-decoration:none}

/* sns */
#user-footer.response .user-sns .titles {margin-bottom:.625rem;font-size:1.063rem;font-weight:300;line-height:1em;letter-spacing:-0.05em;color:#fefefe;text-transform:uppercase}
#user-footer.response .user-sns .lists {margin:0;padding:0;list-style:none}
#user-footer.response .user-sns .lists::after {content:'';display:table;clear:both} 
#user-footer.response .user-sns .lists li {float:left;width:50%}
#user-footer.response .user-sns .lists li a {font-size:.8rem;font-weight:300;line-height:1.25em;color:rgba(255,255,255,.6)}
#user-footer.response .user-sns .lists .fa {margin-right:.25rem}

/* ndsoft */
#user-footer.response .ndsoft {position:absolute;z-index:1000;right:0;bottom:1.25rem}

/* 180917 최지훈 - 메뉴 수정 */
#user-nav .is-dropdown-submenu { z-index:999999; }