@font-face {
  font-family: 'ndsoft fonts';
  src:  url('fonts/ndsoft-fonts4c51.eot?e7nxob');
  src:  url('fonts/ndsoft-fonts4c51.eot?e7nxob#iefix') format('embedded-opentype'),
    url('fonts/ndsoft-fonts4c51.ttf?e7nxob') format('truetype'),
    url('fonts/ndsoft-fonts4c51.woff?e7nxob') format('woff'),
    url('fonts/ndsoft-fonts4c51.svg?e7nxob#ndsoft-fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*='icon-']:before{
  display: inline-block;
  font: normal normal normal 14px/1 'ndsoft fonts';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-newspaper:before {
  content: "\e913";
}
.icon-left:before {
  content: "\e900";
}
.icon-line-left:before {
  content: "\e901";
}
.icon-line-right:before {
  content: "\e902";
}
.icon-line-top:before {
  content: "\e903";
}
.icon-hwp:before {
  content: "\e904";
}
.icon-right:before {
  content: "\e905";
}
.icon-pdf-b:before {
  content: "\e906";
}
.icon-play-circle-outline:before {
  content: "\e907";
}
.icon-member:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e909";
}
.icon-band:before {
  content: "\e90a";
}
.icon-band-b:before {
  content: "\e90b";
}
.icon-daum:before {
  content: "\e90c";
}
.icon-daum-b:before {
  content: "\e90d";
}
.icon-ndsoft-3:before {
  content: "\e90e";
}
.icon-post:before {
  content: "\e90f";
}
.icon-post-b:before {
  content: "\e910";
}
.icon-vimeo:before {
  content: "\e911";
}
.icon-vimeo-b:before {
  content: "\e912";
}
.icon-naver:before {
  content: "\41";
}
.icon-naver-b:before {
  content: "\42";
}
.icon-blog:before {
  content: "\43";
}
.icon-blog-b:before {
  content: "\44";
}
.icon-talk:before {
  content: "\49";
}
.icon-story:before {
  content: "\4a";
}
.icon-story-b:before {
  content: "\4b";
}
.icon-vingle:before {
  content: "\4c";
}
.icon-vingle-b:before {
  content: "\4d";
}
.icon-cyworld:before {
  content: "\4e";
}
.icon-cyworld-b:before {
  content: "\4f";
}
.icon-pholar:before {
  content: "\50";
}
.icon-pholar-b:before {
  content: "\51";
}
.icon-google:before {
  content: "\52";
}
.icon-google-b:before {
  content: "\53";
}
.icon-facebook:before {
  content: "\54";
}
.icon-facebook-b:before {
  content: "\55";
}
.icon-twitter:before {
  content: "\56";
}
.icon-twitter-b:before {
  content: "\57";
}
.icon-linkedin:before {
  content: "\58";
}
.icon-linkedin-b:before {
  content: "\59";
}
.icon-pinterest:before {
  content: "\5a";
}
.icon-pinterest-b:before {
  content: "\61";
}
.icon-weibo:before {
  content: "\62";
}
.icon-weibo-b:before {
  content: "\63";
}
.icon-youtube:before {
  content: "\64";
}
.icon-youtube-b:before {
  content: "\65";
}
.icon-share:before {
  content: "\66";
}
.icon-share-b:before {
  content: "\67";
}
.icon-sync:before {
  content: "\68";
}
.icon-sync-b:before {
  content: "\69";
}
.icon-more:before {
  content: "\6a";
}
.icon-more-b:before {
  content: "\6b";
}
.icon-plus:before {
  content: "\6c";
}
.icon-minus:before {
  content: "\6d";
}
.icon-printer:before {
  content: "\6e";
}
.icon-email:before {
  content: "\6f";
}
.icon-voice:before {
  content: "\70";
}
.icon-instagram:before {
  content: "\71";
}
.icon-instagram-b:before {
  content: "\72";
}
.icon-rss:before {
  content: "\73";
}
.icon-rss-b:before {
  content: "\74";
}
.icon-ndsoft-1:before {
  content: "\75";
}
.icon-ndsoft-2:before {
  content: "\76";
}
.icon-email-b:before {
  content: "\77";
}
.icon-email-c:before {
  content: "\78";
}
.icon-list:before {
  content: "\79";
}
.icon-dashboard:before {
  content: "\7a";
}
.icon-gif:before {
  content: "\30";
}
.icon-pdf:before {
  content: "\31";
}
.icon-note:before {
  content: "\32";
}
.icon-clock:before {
  content: "\33";
}
.icon-tails:before {
  content: "\34";
}
.icon-http:before {
  content: "\35";
}
.icon-printer-b:before {
  content: "\36";
}
.icon-star:before {
  content: "\37";
}
.icon-home:before {
  content: "\38";
}
.icon-bookmark:before {
  content: "\39";
}
.icon-image-add:before {
  content: "\21";
}
.icon-visible:before {
  content: "\22";
}
.icon-visible-none:before {
  content: "\23";
}
.icon-play:before {
  content: "\24";
}
.icon-play-circle:before {
  content: "\25";
}
.icon-pause:before {
  content: "\27";
}
.icon-pause-circle:before {
  content: "\28";
}
.icon-pause-circle-outline:before {
  content: "\29";
}
.icon-folder:before {
  content: "\2a";
}
.icon-crop:before {
  content: "\2b";
}
.icon-image-search:before {
  content: "\2c";
}
.icon-video-player:before {
  content: "\2d";
}
.icon-chat:before {
  content: "\2e";
}
.icon-chat-b:before {
  content: "\2f";
}
.icon-quote-left:before {
  content: "\5b";
}
.icon-cast:before {
  content: "\5c";
}
.icon-touch:before {
  content: "\5d";
}
.icon-new:before {
  content: "\5e";
}
.icon-help:before {
  content: "\5f";
}
.icon-star-badge:before {
  content: "\60";
}
.icon-more-vertical:before {
  content: "\7b";
}
.icon-quote-right:before {
  content: "\7c";
}
.icon-talk-b:before {
  content: "\7d";
}
.icon-fingerprint:before {
  content: "\7e";
}
.icon-3d:before {
  content: "\3f";
}
