/*
 Theme Name:   IPC1
 Theme URI:    http://ipc1.vn
 Description:  IPC1
 Version:      1.0.0
 Text Domain:  ipc1
*/
.user-point,
a.user-point,
.poll-columns .poll-state.going,
.auto-hr04-2 .auto-nav .slick-slide.slick-current .auto-fontA,
.auto-hr05 .auto-nav .slick-slide.slick-current .auto-fontA {
    color: #1e218a !important
}

.user-bg,
.user-bg:hover,
.user-bg:active,
.user-bg:focus,
li[id*="slick-"].slick-active button[data-role],
.checkbox-group>input[type="radio"]:checked+label,
.checkbox-group>input[type="checkbox"]:checked+label,
.radio-group>input[type="radio"]:checked+label,
.radio-group>input[type="checkbox"]:checked+label,
.article-list .article-list-content.type-tm .list-block .links:hover,
.tabs .tabs-title.is-active a,
.poll-view .poll-view-state.going,
.poll-view .poll-radio input[type="radio"]:checked+label::before,
.poll-view .poll-radio input[type="checkbox"]:checked+label::before,
.auto-dl04 .auto-column::after,
.auto-mr01::before,
.auto-hp02 a:hover .photo-titbg,
.auto-hr04 .auto-nav .slick-slide.slick-current,
.auto-hr04-1 .auto-nav .slick-slide.slick-current,
.nd-switch.user-bg input[type="checkbox"]:checked+label,
.nd-switch.user-bg input[type="radio"]:checked+label,
.nd-switch.user-bg input[type="checkbox"]:checked+label::before,
.nd-switch.user-bg input[type="radio"]:checked+label::before,
.switch-group.user-bg>.nd-switch input[type="checkbox"]:checked+label,
.switch-group.user-bg>.nd-switch input[type="radio"]:checked+label,
.switch-group.user-bg>.nd-switch input[type="checkbox"]:checked+label::before,
.switch-group.user-bg>.nd-switch input[type="radio"]:checked+label::before,
.switch-group.for-ios>.nd-switch.user-bg input[type="checkbox"]:checked+label,
.switch-group.for-ios>.nd-switch.user-bg input[type="radio"]:checked+label,
.switch-group.for-ios>.nd-switch.user-bg input[type="checkbox"]:checked+label::before,
.switch-group.for-ios>.nd-switch.user-bg input[type="radio"]:checked+label::before,
.auto-pr08 .auto-columns a:hover,
.auto-pr08 .auto-columns a:hover [class*="size-"] {
    background-color: #cc3333 !important
}

.user-border,
.button.user-bg,
.poll-view .poll-radio input[type="radio"]+label:hover strong::before,
.poll-view .poll-radio input[type="checkbox"]+label:hover strong::before,
.poll-view .poll-radio input[type="radio"]:checked+label strong::before,
.poll-view .poll-radio input[type="checkbox"]:checked+label strong::before,
.auto-pa01 .auto-nav .slick-current .auto-images::before,
.auto-hr05-1 .auto-content a:hover .auto-images.line::before,
.auto-hr07 .auto-nav .slick-slide.slick-current .auto-images.line::before {
    border-color: #cc3333 !important
}

.user-border-top {
    border-top-color: #cc3333 !important
}

.user-border-bottom {
    border-bottom-color: #cc3333 !important
}

.user-border-left {
    border-left-color: #cc3333 !important
}

.user-border-right {
    border-right-color: #cc3333 !important
}

.mobile-tabs .tabs .is-active a {
    color: #cc3333 !important;
    background: #fff !important
}

ul {
    list-style: none;
}

.pdf-widget .content>a {
    padding: 5px;
}

.auto-article .onload:hover,
.auto-article a:hover .onload {
    color: #8f8e8c !important;
    text-decoration: none;
}

.box-skin .header>strong.custom-box-titles,
.box-skin .header>a.custom-box-titles {
    font-weight: bold;
}

#nav-header .dis-table-cell.user-logo .text {
    color: #FFFFFF;
}

#nav-header .dis-table-cell.user-logo a {
    max-width: 430px;
    line-height: 50px;
}

#user-nav #wrapper {
    background-color: #0d107a !important;
    background-color: #1e218a !important;
}

#nav-header .dis-table-cell.user-logo .text {
    color: #010255;
    font-weight: bold;
}

#nav-header .user-sns>a {
    color: #010255;
}

#user-gnb {
    background-color: #EEEEEE;
}

#user-header {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 1.25rem;
    background-color: #EEEEEE !important;
}

#user-gnb {
    padding: .8rem 0;
    margin: 0;
}

#user-gnb .user-intro {
    font-size: 0.8rem;
    color: #1e218a;
}

.pd_0 {
    padding: 0 !important;
}

.pd_0 .content {
    margin: .9375rem;
}

#nav-header .dis-table-cell.user-logo a {
    line-height: normal;
    max-width: 700px;
    font-family: Tahoma;
    text-align: left;
}

#nav-header .dis-table-cell.user-logo a .sologan {
    overflow: hidden;
    padding-left: 5px;
    text-transform: uppercase;
}

#nav-header .dis-table-cell.user-logo .text {
    font-size: 16px;
}

#nav-header .user-sns>a:hover {
    color: #cc3333 !important
}
#user-gnb .user-logbox .lang-item a img{
    width: 20px !important;
    height: 15px !important;
}